* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::before,
  &::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
  }
}

html {
  font-size: 10px;
}

body {
  font-family: Proxima Nova;
  font-weight: 200;
  font-size: 1.6rem;
}

img {
  max-width: 100%;
  height: auto;
}
