// PN - Reg
@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-Reg.otf") format("opentype");
  font-weight: normal;
}

// PN - RegIt
@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-RegIt.otf") format("opentype");
  font-weight: normal;
  font-style: italic;
}

// PN - Bold
@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-Bold.otf") format("opentype");
  font-weight: bold;
}

// PN - Bold Italic
@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-BoldIt.otf") format("opentype");
  font-weight: bold;
  font-style: italic;
}

// PN - Light

@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-Light.otf") format("opentype");
  font-weight: lighter;
}

// PN - Light Italic

@font-face {
  font-family: Proxima Nova;
  src: url("../fonts/ProximaNova-LightIt.otf") format("opentype");
  font-weight: lighter;
  font-style: italic;
}
