.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.u-fs-20 {
  font-size: 2rem;
}

.u-fs-26 {
  font-size: 2.6rem;
}

.u-mt-30 {
  margin-top: 3rem;
}

.u-mt-45 {
  margin-top: 4.5rem;
}

.u-mt-50 {
  margin-top: 5rem;
}

.u-mt-100 {
  margin-top: 10rem;
}

.u-ta-c {
  text-align: center;
}

.u-bg-white-blue {
  background: linear-gradient(to right, white 50%, $color-secondary 49%);
}

.u-bg-blue-white {
  background: linear-gradient(to right, $color-secondary 50%, white 49%);
}

.u-c-primary {
  color: $color-primary;
}
