$color-primary: #22bfe0;
$color-secondary: #ecf7ff;
$color-white: #ffffff;
$color-grey: #737b81;
$color-grey-light: #d8d8d8;

//Blue btn gradient colors
$btn-gr-1: #16a9ea;
$btn-gr-2: #00ced6;

$icon-sprite: "../img/spritesheet.png";
$dd-arrow-blue: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAAtklEQVQokYXSOwoCUQwF0Ou4EDOV67C3dicigiiILsIFCP4Q/KCokFmGpZkl2NjG5vppXiYQeMUhPG4CUXuJ2sHdEXUGYAWgnRflHFG5O0RtKmouaovUxO9D1CbEmxASj4l3ISQeER9DSNwnvoWQuEd8dXfU3D2ZSF6UHQBLAPcszO5X9STMi7LLafpoNZpV/yuieAZElyjwIdEpWuEn6H1yhX9omzwKUZsRraN7hKg9Re1cdbhv2f+dP9pxKLMAAAAASUVORK5CYII=");
