$color-primary: #22bfe0;
$color-secondary: #ecf7ff;
$color-white: #ffffff;

$dd-arrow-blue: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAoAAAASCAYAAABit09LAAAAtklEQVQokYXSOwoCUQwF0Ou4EDOV67C3dicigiiILsIFCP4Q/KCokFmGpZkl2NjG5vppXiYQeMUhPG4CUXuJ2sHdEXUGYAWgnRflHFG5O0RtKmouaovUxO9D1CbEmxASj4l3ISQeER9DSNwnvoWQuEd8dXfU3D2ZSF6UHQBLAPcszO5X9STMi7LLafpoNZpV/yuieAZElyjwIdEpWuEn6H1yhX9omzwKUZsRraN7hKg9Re1cdbhv2f+dP9pxKLMAAAAASUVORK5CYII=");
