<div class="features">
    <ul class="features__triggers">
        <li id="tr0" class="features__trigger features__trigger--active">01</li>
        <li id="tr1" class="features__trigger">02</li>
        <li id="tr2" class="features__trigger">03</li>
    </ul>
    <div class="features__slides">
        <div class="features__slide">
            <div class="features__desc">
                <span class="features__desc-heading">Собственное
                    <br> производство:</span>
                <ul class="features__desc-exp">
                    <li class="features__desc-item">4 производственных линии</li>
                    <li class="features__desc-item">Скорость. Качество. Цена</li>
                </ul>
                <button class="btn btn--callme btn--gradient u-mt-45">
                    Перезвоните мне
                </button>
            </div>
            <img src="img/sl1.png" alt="Образец продукции" class="features__pic">
        </div>
        <div class="features__slide">
            <div class="features__desc">
                <span class="features__desc-heading">50 видов собственной
                    <br> оснастки. Патенты</span>
                <button class="btn btn--callme btn--gradient u-mt-45">
                    Перезвоните мне
                </button>
            </div>
            <img src="img/sl2.png" alt="Изображение патентов" class="features__pic">
        </div>
        <div class="features__slide">
            <div class="features__desc">
                <span class="features__desc-heading">Логотип заказчика
                    <br> на продукции</span>
                <button class="btn btn--callme btn--gradient u-mt-45">
                    Перезвоните мне
                </button>
            </div>
            <img src="img/sl3.png" alt="Продукция с лого заказчика" class="features__pic">
        </div>
    </div>
</div>