<section class="feedback">
    <div class="container">
        <div class="feedback__items">
            <h2 class="heading-secondary u-c-primary">Отзывы о нас</h2>
            <div class="feedback__slider-buttons">
                <button class="feedback__slider-btn feedback__slider-btn--left">
                    <span class="visually-hidden">Предыдущий слайд</span>
                </button>
                <button class="feedback__slider-btn feedback__slider-btn--right">
                    <span class="visually-hidden">Следующий слайд</span>
                </button>
            </div>
            <div class="feedback__reviews">
                <div class="feedback__review">
                    <img src="img/feedback_1.png" alt="Отзыв от канализационного хозяйства города Екатеринбург">
                    <div class="feedback__overlay">
                        <button class="feedback__fullpic">
                            <span class="visually-hidden">Увеличить изображение</span>
                        </button>
                    </div>
                </div>
                <div class="feedback__review">
                    <img src="img/feedback_2.png" alt="Отзыв от канализационного хозяйства города Екатеринбург">
                    <div class="feedback__overlay">
                        <button class="feedback__fullpic">
                            <span class="visually-hidden">Увеличить изображение</span>
                        </button>
                    </div>
                </div>
                <div class="feedback__review">
                    <img src="img/feedback_3.png" alt="Отзыв от канализационного хозяйства города Екатеринбург">
                    <div class="feedback__overlay">
                        <button class="feedback__fullpic">
                            <span class="visually-hidden">Увеличить изображение</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>