<footer class="main-footer container">
    <!-- Навигация подвала -->
    <nav class="footer-nav__links main-footer__col">
        <a href="#" class="footer-nav__link">Главная</a>
        <a href="#" class="footer-nav__link">Каталог</a>
        <a href="#" class="footer-nav__link">О компании</a>
        <a href="#" class="footer-nav__link">Прайс-листы</a>
        <a href="#" class="footer-nav__link">Отзывы</a>
        <a href="#" class="footer-nav__link">Новости</a>
        <a href="#" class="footer-nav__link">Контакты</a>
    </nav>
    <nav class="footer-nav__links main-footer__col">
        <a href="#" class="footer-nav__link">Акции</a>
        <a href="#" class="footer-nav__link">Документация</a>
        <a href="#" class="footer-nav__link">Прайс</a>
        <a href="#" class="footer-nav__link">Публикации в прессе</a>
        <a href="#" class="footer-nav__link">Фотографии</a>
        <a href="#" class="footer-nav__link">Видеоматериалы</a>
        <a href="#" class="footer-nav__link">Сотрудничество</a>
    </nav>
    <!-- Адрес -->
    <div class="main-footer__adress">
        <p>Адрес офиса:
            <br> г. Екатеринбург,
            <br> ул. Крестинского,
            <br> 46а, офис 306</p>
        <p class="u-mt-50">Адрес склада:
            <br> 1 км. ЕКАД, 4</p>
        <p class="u-mt-50">+7 (343) 22-01-106</p>
        <a class="u-mt-50" href="mailto:vesna@r66.ru">vesna@r66.ru</a>
    </div>
    <!-- Связаться -->
    <div class="main-footer__contacts">
        <button class="btn btn--calculate">Расчитать цену</button>
        <button class="btn btn--callme">Перезвоните мне</button>

    </div>
</footer>