<footer class="main-footer container">
    <!-- Навигация подвала -->
    <nav class="footer-nav__links main-footer__col">
        <a href="#" class="footer-nav__link">Главная</a>
        <a href="#" class="footer-nav__link">Каталог</a>
        <a href="#" class="footer-nav__link">О компании</a>
        <a href="#" class="footer-nav__link">Прайс-листы</a>
        <a href="#" class="footer-nav__link">Отзывы</a>
        <a href="#" class="footer-nav__link">Новости</a>
        <a href="#" class="footer-nav__link">Контакты</a>
    </nav>
    <nav class="footer-nav__links main-footer__col">
        <a href="#" class="footer-nav__link">Акции</a>
        <a href="#" class="footer-nav__link">Документация</a>
        <a href="#" class="footer-nav__link">Прайс</a>
        <a href="#" class="footer-nav__link">Публикации в прессе</a>
        <a href="#" class="footer-nav__link">Фотографии</a>
        <a href="#" class="footer-nav__link">Видеоматериалы</a>
        <a href="#" class="footer-nav__link">Сотрудничество</a>
    </nav>
    <!-- Адрес -->
    <div class="main-footer__adress">
        <p>Адрес офиса:
            <br> г. Екатеринбург,
            <br> ул. Крестинского,
            <br> 46а, офис 306</p>
        <p class="u-mt-50">Адрес склада:
            <br> 1 км. ЕКАД, 4</p>
        <p class="u-mt-50">+7 (343) 22-01-106</p>
        <a class="u-mt-50 u-link" href="mailto:vesna@r66.ru">vesna@r66.ru</a>
    </div>
    <!-- Связаться -->
    <div class="main-footer__contacts">
        <button class="btn btn--calculate btn--gradient u-w-full ">Расчитать цену </button>
        <button class="btn btn--callme btn--gradient u-mt-20">Перезвоните мне</button>
        <button class="btn btn--ask-question u-w-full u-ta-left u-mtb-60"><span class="u-bb-2-dotted--grey">Задать вопрос</span></button>
        <div class="main-footer__socials">
            <a href="#" class="main-footer__social main-footer__social--vk"><span class="visually-hidden">Наш вконтакте</span></a>
            <a href="#" class="main-footer__social main-footer__social--inst"><span class="visually-hidden">Наш инстаграм</span></a>
            <a href="#" class="main-footer__social main-footer__social--fb"><span class="visually-hidden">Наш фейсбук</span></a>
            <a href="#" class="main-footer__social main-footer__social--twitter"><span class="visually-hidden">Наш твиттер</span></a>
        </div>
    </div>
</footer>