<section class="for">
    <div class="container">
        <div class="whatfor">
            <div class="whatfor__block whatfor__block--projectors">
                <span class="whatfor__title">Проектировщикам</span>
                <div class="whatfor__hint hint">
                    Предприятие было создано группой единомышленников, продвигающих долговечные и энергосберегающие технологии.
                </div>
            </div>
            <div class="whatfor__block whatfor__block--administrations">
                <span class="whatfor__title">Администрациям</span>
                <div class="whatfor__hint hint">
                    Предприятие было создано группой единомышленников, продвигающих долговечные и энергосберегающие технологии.
                </div>
            </div>
            <div class="whatfor__block whatfor__block--buyers">
                <span class="whatfor__title">Покупателям</span>
                <div class="whatfor__hint hint">
                    Предприятие было создано группой единомышленников, продвигающих долговечные и энергосберегающие технологии.
                </div>
            </div>
            <div class="whatfor__block whatfor__block--dealers">
                <span class="whatfor__title">Дилерам</span>
                <div class="whatfor__hint hint">
                    Предприятие было создано группой единомышленников, продвигающих долговечные и энергосберегающие технологии.
                </div>
            </div>
        </div>
    </div>
</section>