<nav class="main-nav">
    <li class="main-nav__link main-nav__link--catalog">
        <a href="#" class="main-nav__link-border">Каталог</a>
        <div class="main-nav__dropdown-wrapper">
            <ul class="main-nav__dropdown">
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Труба чугунная</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Фасонные части</a>
                    <ul class="main-nav__ddown2">
                        <li class="main-nav__ddown2-item">
                            <a href="#" class="main-nav__ddown2-link">Фасонные части ВЧШГ</a>
                        </li>
                        <li class="main-nav__ddown2-item">
                            <a href="#" class="main-nav__ddown2-link">Фасонные части ЧК</a>
                        </li>
                        <li class="main-nav__ddown2-item">
                            <a href="#" class="main-nav__ddown2-link">Муфты из ВЧШГ</a>
                        </li>
                    </ul>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Чугунные фланцы</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Люки канализационные</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Продукция из высокопрочного чугуна</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Решки приствольные</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Чугунное декоративное литьё</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Новинки</a>
                </li>
            </ul>
        </div>

    </li>
    <a href="" class="main-nav__link">
        <span class="main-nav__link-border">О компании</span>
    </a>
    <a href="" class="main-nav__link">
        <span class="main-nav__link-border">Прайс-листы</span>
    </a>
    <a href="" class="main-nav__link">
        <span class="main-nav__link-border">Отзывы</span>
    </a>
    <li class="main-nav__link main-nav__link--info">
        <a href="#" class="main-nav__link-border">Полезная информация</a>
        <div class="main-nav__dropdown-wrapper">
            <ul class="main-nav__dropdown">
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Новости</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Акции</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Документация</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Публикации в прессе</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Фотогалерея</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Видеоматериалы</a>
                </li>
                <li class="main-nav__dropdown-item">
                    <a href="#" class="main-nav__dropdown-link">Сотрудничество</a>
                </li>
            </ul>
        </div>

    </li>
    <a href="" class="main-nav__link">
        <span class="main-nav__link-border">Контакты</span>
    </a>
</nav>