<header class="main-header">
    <div class="container">
        <div class="user-block">
            <span class="menu-button">
                <span class="visually-hidden">Открыть меню</span>
            </span>
            <img src="img/logo.png" alt="Компания Весна-К" class="header-logo">
            <div class="user-block__city">
                <span>Ваш город:</span>
                <span class="user-block__d-wrap">
                    <br>
                </span>
                <span class="user-block__city-current">Екатеринбург</span>
            </div>
            <div class="user-block__cart">
                <span>В корзине</span>
                <span class="user-block__d-wrap">
                    <br>
                </span>
                <span class="user-block__cart-goods">3 товара</span>
                <span class="cart__sum">(6270 р.)</span>
            </div>
            <a href="tel:+73432201106" class="tel">+7 (343)22-01-106</a>
        </div>
        <!-- Navigation here -->
        //= header-nav.html
        <!-- Slider here -->
        //= features.html
    </div>
    <!-- Блок четырёх иконок со всплывающей подсказкой -->
    //= for.html
</header>