<section class="info">
    <div class="u-bg-white-blue">
        <div class="info__items-wrapper container">
            <div class="info__item info__item--left">
                <h2 class="heading-secondary u-c-primary">ООО Весна-К</h2>
                <p class="u-fs-26 u-mt-30">Предприятие было создано группой единомышленников, продвигающих долговечные и энергосберегающие технологии
                    на территории области</p>
                <p class="u-fs-20 u-mt-30">Ни для кого не секрет, что техническое состояние коммунальных сетей Свердловской области в настоящее время
                    характеризуется высоким уровнем износа трубопроводов водоснабжения и водоотведения, их высокой аварийностью</p>
                <a href="#" class="btn btn--arrow-bluebg u-mt-30">Подробнее о нас</a>
            </div>
            <div class="info__item info__item--right info__item--square-right">
                <div class="info__slider cn-slider">
                    <div class="cn-slider__slides">
                        <figure class="cn-slider__slide">
                            <img src="img/business-center.png" alt="Бизнес-центр на Крестинского,46а">
                            <figcaption class="cn-slider__slide-text">Бизнес-центр на Крестинского, 46а, где мы находимся</figcaption>
                        </figure>
                    </div>
                </div>
                <div class="cn-slider__controls">
                    <button class="cn-slider__arr cn-slider__arr--left">
                        <span class="visually-hidden">Предыдущий слайд</span>
                    </button>
                    <div class="cn-slider__bullets"></div>
                    <button class="cn-slide__arr cn-slide__arr--right">
                        <span class="visually-hidden">Следующий слайд</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
    <div class="u-bg-blue-white">
        <div class="info__items-wrapper container">
            <div class="info__item info__item--square-left"></div>
            <div class="info__item info__item--right">
                <h2 class="heading-secondary u-c-primary">Работаем с 1997 года</h2>
                <p class="u-fs-26 u-mt-30">Предприятие было создано группой единомышленников, продвигающих долговечные и энергосберегающие технологии
                    на территории области</p>
                <p class="u-fs-20 u-mt-30">Ни для кого не секрет, что техническое состояние коммунальных сетей Свердловской области в настоящее время
                    характеризуется высоким уровнем износа трубопроводов водоснабжения и водоотведения, их высокой аварийностью</p>
                <a href="#" class="btn btn--arrow-bluebg u-mt-30">Перейти в каталог</a>
            </div>
        </div>
    </div>
</section>