<section class="newprod">
    <div class="container">
        <div class="prodslider">
            <div class="prodslider__heading-controls">
                <span class="prodslider__heading">Новинки в каталоге</span>
                <div class="prodslider__controls">
                    <button class="prodslider__control prodslider__control--prev">
                        <span class="visually-hidden">Предыдущий слайд</span>
                    </button>
                    <button class="prodslider__control prodslider__control--next">
                        <span class="visually-hidden">Следующий слайд</span>
                    </button>
                </div>
            </div>
            <div class="prodslider__slide-wrapper">
                <!-- Item 1 -->
                <div class="prodslider__item">
                    <div class="prodslider__fastview">
                        <span class="visually-hidden">Быстрый просмотр</span>
                    </div>
                    <div class="u-ta-c">
                        <img src="img/car-new1.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                    </div>
                    <p class="prodslider__title">Люк из высокопрочного чугуна с шарниром</p>
                    <p class="prodslider__size">Размеры: корпус 750х75мм</p>
                    <div class="prodslider__price-buy">
                        <span>от
                            <span class="prodslider__price">5500 р.</span>
                        </span>
                        <a href="#" class="prodslider__buy">Купить в 1 клик</a>

                    </div>
                    <div class="prodslider__buybtn btn__quantity-wrapper">
                        <div class="btn__quantity">
                            <span class="btn__ctrl btn__ctrl--less"></span>
                            <span class="btn__quantity-index">1</span>
                            <span class="btn__ctrl btn__ctrl--more"></span>
                        </div>
                        <button class="btn btn--gradient btn--buy">Заказать</button>
                    </div>
                </div>
                <!-- Item 2 -->
                <div class="prodslider__item">
                    <div class="prodslider__fastview">
                        <span class="visually-hidden">Быстрый просмотр</span>
                    </div>
                    <div class="u-ta-c">
                        <img src="img/car-new2.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                    </div>
                    <p class="prodslider__title">Муфта обжимная МО</p>
                    <p class="prodslider__size">Размеры: 80х600мм</p>
                    <div class="prodslider__price-buy">
                        <span>от
                            <span class="prodslider__price">1250 р.</span>
                        </span>
                        <a href="#" class="prodslider__buy">Купить в 1 клик</a>

                    </div>
                    <div class="prodslider__buybtn btn__quantity-wrapper">
                        <div class="btn__quantity">
                            <span class="btn__ctrl btn__ctrl--less"></span>
                            <span class="btn__quantity-index">1</span>
                            <span class="btn__ctrl btn__ctrl--more"></span>
                        </div>
                        <button class="btn btn--gradient btn--buy">Заказать</button>
                    </div>
                </div>
                <!-- Item 3 -->
                <div class="prodslider__item">
                    <div class="prodslider__fastview">
                        <span class="visually-hidden">Быстрый просмотр</span>
                    </div>
                    <div class="u-ta-c">
                        <img src="img/car-new1.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                    </div>
                    <p class="prodslider__title">Тройник раструбный</p>
                    <p class="prodslider__size">Размеры: 100-1000мм</p>
                    <div class="prodslider__price-buy">
                        <span>от
                            <span class="prodslider__price">360 р.</span>
                        </span>
                        <a href="#" class="prodslider__buy">Купить в 1 клик</a>

                    </div>
                    <div class="prodslider__buybtn btn__quantity-wrapper">
                        <div class="btn__quantity">
                            <span class="btn__ctrl btn__ctrl--less"></span>
                            <span class="btn__quantity-index">1</span>
                            <span class="btn__ctrl btn__ctrl--more"></span>
                        </div>
                        <button class="btn btn--gradient btn--buy">Заказать</button>
                    </div>
                </div>
                <!-- Item 4 -->
                <div class="prodslider__item">
                    <div class="prodslider__fastview">
                        <span class="visually-hidden">Быстрый просмотр</span>
                    </div>
                    <div class="u-ta-c">
                        <img src="img/car-new1.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                    </div>
                    <p class="prodslider__title">Люк из высокопрочного чугуна с шарниром</p>
                    <p class="prodslider__size">Размеры: корпус 750х75мм</p>
                    <div class="prodslider__price-buy">
                        <span>от
                            <span class="prodslider__price">5500 р.</span>
                        </span>
                        <a href="#" class="prodslider__buy">Купить в 1 клик</a>

                    </div>
                    <div class="prodslider__buybtn btn__quantity-wrapper">
                        <div class="btn__quantity">
                            <span class="btn__ctrl btn__ctrl--less"></span>
                            <span class="btn__quantity-index">1</span>
                            <span class="btn__ctrl btn__ctrl--more"></span>
                        </div>
                        <button class="btn btn--gradient btn--buy">Заказать</button>
                    </div>
                </div>
                <!-- Item 5 -->
                <div class="prodslider__item">
                    <div class="prodslider__fastview">
                        <span class="visually-hidden">Быстрый просмотр</span>
                    </div>
                    <div class="u-ta-c">
                        <img src="img/car-new1.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                    </div>
                    <p class="prodslider__title">Люк из высокопрочного чугуна с шарниром</p>
                    <p class="prodslider__size">Размеры: корпус 750х75мм</p>
                    <div class="prodslider__price-buy">
                        <span>от
                            <span class="prodslider__price">5500 р.</span>
                        </span>
                        <a href="#" class="prodslider__buy">Купить в 1 клик</a>

                    </div>
                    <div class="prodslider__buybtn btn__quantity-wrapper">
                        <div class="btn__quantity">
                            <span class="btn__ctrl btn__ctrl--less"></span>
                            <span class="btn__quantity-index">1</span>
                            <span class="btn__ctrl btn__ctrl--more"></span>
                        </div>
                        <button class="btn btn--gradient btn--buy">Заказать</button>
                    </div>
                </div>
                <!-- Item 6 -->
                <div class="prodslider__item">
                    <div class="prodslider__fastview">
                        <span class="visually-hidden">Быстрый просмотр</span>
                    </div>
                    <div class="u-ta-c">
                        <img src="img/car-new1.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                    </div>
                    <p class="prodslider__title">Люк из высокопрочного чугуна с шарниром</p>
                    <p class="prodslider__size">Размеры: корпус 750х75мм</p>
                    <div class="prodslider__price-buy">
                        <span>от
                            <span class="prodslider__price">5500 р.</span>
                        </span>
                        <a href="#" class="prodslider__buy">Купить в 1 клик</a>

                    </div>
                    <div class="prodslider__buybtn btn__quantity-wrapper">
                        <div class="btn__quantity">
                            <span class="btn__ctrl btn__ctrl--less"></span>
                            <span class="btn__quantity-index">1</span>
                            <span class="btn__ctrl btn__ctrl--more"></span>
                        </div>
                        <button class="btn btn--gradient btn--buy">Заказать</button>
                    </div>
                </div>
                <!-- Item 7 -->
                <div class="prodslider__item">
                    <div class="prodslider__fastview">
                        <span class="visually-hidden">Быстрый просмотр</span>
                    </div>
                    <div class="u-ta-c">
                        <img src="img/car-new1.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                    </div>
                    <p class="prodslider__title">Люк из высокопрочного чугуна с шарниром</p>
                    <p class="prodslider__size">Размеры: корпус 750х75мм</p>
                    <div class="prodslider__price-buy">
                        <span>от
                            <span class="prodslider__price">5500 р.</span>
                        </span>
                        <a href="#" class="prodslider__buy">Купить в 1 клик</a>

                    </div>
                    <div class="prodslider__buybtn btn__quantity-wrapper">
                        <div class="btn__quantity">
                            <span class="btn__ctrl btn__ctrl--less"></span>
                            <span class="btn__quantity-index">1</span>
                            <span class="btn__ctrl btn__ctrl--more"></span>
                        </div>
                        <button class="btn btn--gradient btn--buy">Заказать</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>