<section class="newprod">
    <div class="container">
        <div class="prodslider">
            <div class="prodslider__item">
                <img src="img/car-new1.png" alt="Изображение люка из высокопрочного чугуна с шарниром">
                <p>Люк из высокопрочного чугуна с шарниром</p>
                <span>Размеры: </span>
                <span>корпус 750х75мм</span>
                <span>от
                    <span>5500 р.</span>
                </span>
                <a href="#">Купить в 1 клик</a>
                <div class="btn__quantity-wrapper">
                    <div class="btn__quantity">
                        <span class="btn__ctrl btn__ctrl--less"></span>
                        <span class="btn__quantity-index">1</span>
                        <span class="btn__ctrl btn__ctrl--more"></span>
                    </div>
                    <button class="btn btn--gradient btn--buy">Заказать</button>
                </div>
            </div>
        </div>
    </div>
</section>