<section class="news">
    <div class="container news__container">
        <span class="u-fs-46 u-c-primary u-fw-bold">Новости</span>
        <div class="news__slider-buttons u-mt-50 btn-control__arr-wrapper">
            <button class="news__slider-btn 
                               news__slider-btn--prev 
                               btn-control__arr
                               btn-control__arr--left" disabled>
                <span class="visually-hidden">Предыдущий слайд</span>
            </button>
            <button class="news__slider-btn
                               news__slider-btn--next
                               btn-control__arr
                               btn-control__arr--right" disabled>
                <span class="visually-hidden">Следующий слайд</span>
            </button>
        </div>
        <div class="news__cards">
            <a href="#" class="news__card">
                <div class="news__img">
                    <img src="img/news_1.png" alt="Изображение Люка ВЧШГ с шарниром" />
                    <div class="pic-overlay">
                        <button class="pic-overlay__fullpic">
                            <span class="visually-hidden">Увеличить изображение</span>
                        </button>
                    </div>
                </div>
                <h3 class="heading-tertiary news__heading">Специальное предлоежние до 15.06.2018 г.!</h3>
                <p class="news__announce">Специальное предложение! Люк ВЧШГ с шарниром и замком в квадратном корпусе с логотипом...</p>
            </a>
            <a href="#" class="news__card">
                <div class="news__img">
                    <img src="img/news_2.png" alt="Изображение Люка ВЧШГ с шарниром" />
                    <div class="pic-overlay">
                        <button class="pic-overlay__fullpic">
                            <span class="visually-hidden">Увеличить изображение</span>
                        </button>
                    </div>
                </div>
                <h3 class="heading-tertiary news__heading">Весеннее предложение</h3>
                <p class="news__announce">Объявляем снижение цены на люк тип Л! Теперь люк тип Л стоит - 3000,00 руб...</p>
            </a>
            <a href="#" class="news__card">
                <div class="news__img">
                    <img src="img/news_3.png" alt="Изображение Люка ВЧШГ с шарниром" />
                    <div class="pic-overlay">
                        <button class="pic-overlay__fullpic">
                            <span class="visually-hidden">Увеличить изображение</span>
                        </button>
                    </div>
                </div>
                <h3 class="heading-tertiary news__heading">Новинка! Люки с углублением в крышке</h3>
                <p class="news__announce">Люки с углублением в крышке под заполнение. Предлагаем люки для смотровых...</p>
            </a>
        </div>
    </div>
</section>