<section class="products u-mt-50">
    <div class="accordeon">
        <input type="radio" name="acc" id="acc_item1" class="accordeon__radio" checked>
        <label for="acc_item1" class="accordeon__item accordeon__item--first">
            <span class="accordeon__title">Трубы
                <br> чугунные</span>
            <div class="accordeon__desc-wrapper">
                <p class="accordeon__desc">Трубы чугунные отличаются высокой прочностью и стойкостью к коррозии</p>
                <a href="#" class="btn btn--arrow u-mt-100">Перейти в раздел</a>
            </div>
        </label>
        <input type="radio" name="acc" id="acc_item2" class="accordeon__radio">
        <label for="acc_item2" class="accordeon__item accordeon__item--second">
            <span class="accordeon__title">Фасонные
                <br> части</span>
            <div class="accordeon__desc-wrapper">
                <p class="accordeon__desc">Фасонные части отличаются высокой прочностью и стойкостью к коррозии</p>
                <a href="#" class="btn btn--arrow u-mt-100">Перейти в раздел</a>
            </div>
        </label>
        <input type="radio" name="acc" id="acc_item3" class="accordeon__radio">
        <label for="acc_item3" class="accordeon__item accordeon__item--third">
            <span class="accordeon__title">Чугунные
                <br> фланцы</span>
            <div class="accordeon__desc-wrapper">
                <p class="accordeon__desc">Фланцы чугунные отличаются высокой прочностью и стойкостью к коррозии</p>
                <a href="#" class="btn btn--arrow u-mt-100">Перейти в раздел</a>
            </div>
        </label>
    </div>
</section>