.btn {
  display: inline-block;
  padding: 1.5rem 3.5rem;
  padding-right: 9rem;
  border-radius: 5px;
  border: none;
  background: white;
  cursor: pointer;
  font-family: Proxima Nova;
  font-weight: 200;
  font-size: 2.2rem;
  color: $color-primary;
  transition: all 0.2s;
  text-decoration: none;

  &--gradient {
    background-image: linear-gradient(to right, $btn-gr-1, $btn-gr-2);
    color: white;
  }

  &--callme {
    color: white;
    background-image: url(../img/phone-icon.png),
      linear-gradient(to right, $btn-gr-1, $btn-gr-2);
    background-repeat: no-repeat;
    background-position: 95% center;

    &:hover {
      background-image: url(../img/phone-icon.png),
        linear-gradient(
          to right,
          lighten($btn-gr-1, 10%),
          lighten($btn-gr-2, 10%)
        );
    }

    &:active {
      background-image: url(../img/phone-icon.png),
        linear-gradient(to right, darken($btn-gr-1, 5%), darken($btn-gr-2, 5%));
      transform: translateY(5px) scale(0.99);
    }
  }

  &--arrow {
    background-image: url(../img/arr-right-blue.png);
    background-repeat: no-repeat;
    background-position: 95% center;
  }
}
