.feedback {
  background-color: $color-secondary;
  padding-top: 8rem;
  padding-bottom: 13rem;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__reviews {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  &__review {
    position: relative;
    box-shadow: 0 0 18px -10px black;
    background: white;
  }

  &__pic-overlay {
    display: none;
    position: absolute;
    background: rgba(#36434a, 0.9);
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
  }

  &__review:hover &__pic-overlay {
    display: block;
  }

  &__fullpic {
    display: block;
    width: 6rem;
    height: 6rem;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translateX(-50%) translateY(-50%);
    background: none;
    border: none;
    background: url(../img/zoom-icon.png) no-repeat;
    cursor: pointer;
  }
}
