.feedback {
  background-color: $color-secondary;
  padding-top: 8rem;
  padding-bottom: 13rem;

  &__items {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__reviews {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  &__review {
    position: relative;
    box-shadow: 0 0 18px -10px black;
    background: white;
  }

  &__review:hover .pic-overlay {
    display: block;
  }
}
