.footer-nav {
    display: flex;

    &__links {
        display: flex;
        flex-direction: column;
    }

    &__link {
        @include btn_icon(-47px, -5px, 1.5rem, 2.5rem, 95%);

        text-decoration: none;
        color: $color-grey;
        font-size: 2rem;
        font-weight: bold;
        padding: 2rem 0 2rem 5rem;
        position: relative;

        &:hover {
            @include btn_icon(-27px, -5px, 1.5rem, 2.5rem, 95%);
            color: $color-primary;
        }

        &:not(:last-child) {
            border-bottom: 1px solid $color-grey-light;
        }
    }
}
